# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

upload
download
security
secrets.yaml

data/db/**
data/*.xz
!data/db/.gitkeep

libs/**
!libs/.gitkeep

logs/**
!logs/.gitkeep

.idea

.sbt
.bsp

# sbt
project/project/
project/target/
target/

